@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');

/* GLOBAL CONFIGURAÇÕES */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  font-size: 62.5%;
  --color-01:#EBBA3C;
  --color-02:#070606;
  --color-03:#f3f0f0;
  --color-04: #FA9600;
  --gradient-button: linear-gradient(180deg, #B40000 0%, #D34C00 100%, #D34C00 100%);
  --fonte:'Nunito', sans-serif;
  
}

body{
  font-size: 1.5rem;
  font-family: var(--fonte);
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

section {
  margin-bottom: 5rem;
}

main header {
  padding: 1rem;
  margin-bottom: 2rem; /* Modificar, header para sessões padrão */
}

/* HOME - NAVEGAÇÃO */

#home {
  height: 95vh;
  display: flex;
  flex-direction: column;
}

#home .espacamento {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home .menu {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
}

#home .menu-logo img{
  width: 10rem;
  padding-left: 2rem;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));

}

#home .menu .menu-lista {
  display: flex;
  gap: 1rem;
  list-style: none;
}

#home .menu .menu-lista li a {
  text-decoration: none;
  color: var(--color-02);
  text-transform: uppercase;
  font-size: 1.6rem ;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

#home .menu .menu-lista li:hover a {
  background-color: var(--color-01);
}


#home .campo-pesquisar {
  margin-right: 3rem;
  display: flex;
  gap: 0.5rem;
 
}

#home .campo-pesquisar input[type="search"] {
  border: none;
  border-radius: 2rem;
  background-color: var(--color-03);
  padding: .5rem 1rem;
  outline-color: #FFBE5B;
  
}

/* HOME - BANNER */

.banner {
  width: 100%;
  height: 100%; 
  /* min-width: 500px;
  max-height: 500px;
  min-height: 500px;   */
  background: radial-gradient(82.8% 82.8% at 50% 17.2%, #FFBE5B 1.91%, #FA9600 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(2px -2px 9px hsla(0, 0%, 0%, 0.16));
}

.banner .divisao-tela {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .divisao-tela .descricao-desenho {
  max-width: 500px;
  width: 44.4rem;
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.banner .divisao-tela .descricao-desenho h2 {
  font-size: 5rem;
}

.banner .divisao-tela .descricao-desenho p {
  letter-spacing: 0.1rem;
  line-height: 2rem;
}

.banner .divisao-tela .descricao-desenho button {
  width: 32%;
  padding: 1rem 0;
  border-radius: 2rem;
  border: none;
  font-weight:bold;
  font-family: var(--fonte);
  cursor: pointer;
  color: var(--color-03);
  background: var(--gradient-button);
  filter: drop-shadow(0px 3px 4px #00000033);
}

.banner .divisao-tela .imagem-desenho {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1rem ;
}

.banner .divisao-tela .imagem-desenho img {
  max-width: 500px;
  min-height: 100px;
  width: 100%;  
  filter: drop-shadow(0px -8px 27px rgba(211, 76, 0, 0.12));
}

/*---HOME-PÁGINA PRINCIPAL*/

main {
  width: 100%;
  margin-block: 3rem; /* shorthand: margin-top e bottom */
}

main .destaques-da-semana {
  width: 100%;
  /* display: flex;
  justify-content: center; */
}

main .destaques-da-semana header h2 {
  font-size: 3.062rem;
  /* text-align: center;  centralizado ou não? não centralizado, é left mesmo o Destaques da semana */
}

main .destaques-da-semana ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem; /* Modificar tamanho */
}

.destaques-da-semana .content ul li a {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem; /* Modificar tamanho */
  text-decoration: none;
  color: var(--color-02);
  font-weight:600;
}

.destaques-da-semana .content .div-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.destaques-da-semana .content .div-button button {
  border: none;
  padding: 1rem 3rem;
  border-radius: 2rem;
  font-family: var(--fonte);
  font-weight:bold;
  cursor: pointer;
  color: var(--color-03);
  background: var(--gradient-button);
  filter: drop-shadow(0px 3px 4px #00000033);
}

/* SESSÃO CURIOSIDADES  */

.curiosidades .content header h2 {
  text-align: center;
  font-size: 3.812rem;
  
}

.historia-desenhos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  font-size: 1.6rem;
  text-align: justify;
}

.historia-desenhos h3{
  padding-bottom: 1.5rem;
  font-size: 2rem;
}

.historia-desenhos .desenho-1 {
  display: flex;
  gap: 2rem;
}

.historia-desenhos .desenho-1 figure {
  /* flex: 1; */
  flex-basis: 200px 200px;
  background-color: gray;
  width: 40.5rem;
  height: 26.4rem;
  filter: drop-shadow(-20px 23px 2px rgba(157, 151, 151, 0.4));

}

.historia-desenhos .desenho-1 .texto {
  max-width: 500px;
  width: 100%;
}