.footer {
    height: 17rem;
    background-color: var(--color-02);
    padding: 4rem;
    
}

.footer .footer-wrapper {
    max-width: 1000px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper .footer-paragrafo {
    color: var(--color-06);
    font-size: 2rem;
    font-weight: 700;
}

.footer-wrapper .footer-lista-social {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer-lista-social .footer-lista-social-item .footer-lista-social-item-link {
    color: var(--color-04);
}