

.sobre-container{
  display: flex;
  flex-direction: row;
  height: 50rem;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}


  @media(max-width:850px){
    .sobre-container{
      flex-direction: column;
      height: auto;
      align-items: center;
    
    }
   }

.sobre-container_article{
  width: 36rem;
}

 @media(max-width:850px){
   .sobre-container_article{
     width: 32rem;
     margin-top: 5rem;
     text-align: center;
     
    }
   }
   
.sobre-container_article h1{
font-size: 4.8rem;
}

.sobre-container_article p{
  text-align: center;
  margin-top: 0.7rem;
  }

   @media(max-width:850px){
   .sobre-container_article h1{
     width: 32rem;
    }

    .sobre-container_article p{
    text-align: center;
    margin-top: 0.7rem;
  }
   }

.sobre-container img{
  width: 400px;
  border-radius: 50rem;
  filter: drop-shadow(-10px 13px 2px rgba(157, 151, 151, 0.4));
}

 @media(max-width:850px){
    .sobre-container img{
      width: 300px;
     margin-bottom: 3rem;
    }
   }